<aside class="sidebar">
  <nav>
    <ul>
      <li><a href="/cs_study/home.html">Home</a></li>
      <li><a href="/cs_study/category/internet/index.html">Internet</a></li>
      <li><a href="/cs_study/category/language/index.html">Language</a></li>
      <li><a href="/cs_study/category/vcs/index.html">VCS</a></li>
      <li><a href="/cs_study/category/repo_hosting_services/index.html">Repo Hosting Services</a></li>
      <li><a href="/cs_study/category/relational_database/index.html">Relational Databases</a></li>
      <li><a href="/cs_study/category/apis/index.html">APIs</a></li>
      <li><a href="/cs_study/category/caching/index.html">Caching</a></li>
      <li><a href="/cs_study/category/web_security/index.html">Web Security</a></li>
      <li><a href="/cs_study/category/ci_cd/index.html">CI/CD</a></li>
      <li><a href="/cs_study/category/databases/index.html">Databases</a></li>
      <li><a href="/cs_study/category/scaling_databases/index.html">Scaling Databases</a></li>
      <li><a href="/cs_study/category/architectural_patterns/index.html">Architectural Patterns</a></li>
      <li><a href="/cs_study/category/design_and_deploymen_principle/index.html">Design and Development Principles</a></li>
      <li><a href="/cs_study/category/containerization_and_virtualization/index.html">Containerization vs. Virtualization</a></li>
      <li><a href="/cs_study/category/message_brokers/index.html">Message Brokers</a></li>
      <li><a href="/cs_study/category/search_engines/index.html">Search Engines</a></li>
      <li><a href="/cs_study/category/web_servers/index.html">Web Servers</a></li>
      <li><a href="/cs_study/category/real_time_data/index.html">Real Time Data</a></li>
      <li><a href="/cs_study/category/nosql_databases/index.html">NoSQL databases</a></li>
      <li><a href="/cs_study/category/building_for_scale/index.html">Building for Scale</a></li>
    </ul>
  </nav>
</aside>
